/*header{
    box-shadow: 0 0 32.68px 5.32px rgba(0, 0, 0, .1);
}*/

.vk-promo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(promo-top.png) center bottom no-repeat;
    background-size: cover;
    padding: 130px 0 0 0;
    min-height: 560px;
    position: relative;
    z-index: 3;
    -webkit-box-shadow: 0 0 65px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 65px 0 rgba(0, 0, 0, .25);
}

.container{
    width: 100%;
}

.movie-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.movie-container iframe,
.movie-container object,
.movie-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.vk-promo .title {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    line-height: 32px;
    color: #78150d;
}


.scroll-icon-controls {
    display: none;
}

.scroll-icon-controls img {
    position: static;
    display: inline-block;
}


.tab-pane .vk-promo {
    height: auto;
    padding: 30px 0 0 0;
    background: none;
    min-height: auto;
    box-shadow: none;
}

.tab-pane .vk-promo .title {
    margin-bottom: 30px;
}

.movie-wrapper {
    /*max-width: 1100px;*/
    margin: 0 auto 20px auto;
    width: 100%;
}



@media (max-width: 767px) {
    .cabinet-pane {
        min-height: 25.625rem;
        width: 24.625rem;
    }
}


@media (min-width: 320px ) and (max-width: 767px) {


    .block-table {
        height: auto !important;
        padding: 20px 0;
        min-height: auto !important;
        max-height: none !important;
    }

    .s--tournament {
        min-height: auto;
        padding: 20px 0;
        margin-bottom: 60px;
    }

    .s--tournament > .container {
        display: block;
    }

    .scroll-icon {
        display: block;
    }

    .vk-promo {
        margin: 0;
        padding: 40px 0 30px;
        min-height: auto;
        height: auto;
        /* -webkit-box-shadow: 0 0 65px 0 rgba(0, 0, 0, .25);
         box-shadow: 0 0 65px 0 rgba(0, 0, 0, .25);
         z-index: 1;*/
    }

    .vk-promo .title {
        font-size: 22px;
        line-height: 26px;
    }


    .cabinet-tabs ul {
        width: 350px;
        margin: 0 auto !important;
        overflow-x: scroll;
        display: flex;
        position: relative;
    }


    .cabinet-tabs ul li {
        white-space: nowrap;
    }

    .tabs-line-menu {
        position: relative;
        width: 350px;
        padding: 10px 0 0 0;
        margin: 0 auto;
    }

    .tabs-line-menu:before {
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 39%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
        z-index: 2;
        right: -1px;
        bottom: 3px;
        height: 20px;
        width: 30px;
        content: "";
        position: absolute;
    }

    .tab-pane .vk-promo .title {
        font-size: 18px;
        line-height: 22px;
    }

    .tab-pane .movie-wrapper {
        max-width: 900px;
        margin: 0 auto 20px auto;
        width: 100%;
    }

}

@media (min-width: 320px ) and (max-width: 360px) {
    .cabinet-tabs ul {
        width: 300px;
        margin: 0 auto !important;
        overflow-x: scroll;
        display: flex;
    }

    .tabs-line-menu {
        position: relative;
        width: 300px;
        margin: 0 auto;
    }
}


@media (min-width: 320px ) and (max-width: 414px) {
    .scroll-icon-controls {
        text-align: center;
        display: block;
        padding-top: 30px;
    }

    /*.vk-promo{*/
    /*    padding: 30% 0 0 0;*/
    /*}*/
}

@media (min-width: 768px ) and (max-width: 1024px) {
    .vk-promo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 130px;
    }
}


@media (min-width: 992px ) and (max-width: 1200px) {
    .vk-promo {
        min-height: 650px;
    }
}


@media (min-width: 992px ) and (max-width: 1026px) {
    .vk-promo {
        min-height: 850px;
    }
}


@media (min-width: 1025px ) and (max-width: 1200px) {
    .vk-promo.promo-item .title {
        font-size: 28px;
    }
}